@import "tailwindcss";
@import "tw-animate-css";

/* متغیرها */

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
    --primary: oklch(0.208 0.042 265.755);
    --secondary: oklch(0.968 0.007 247.896);
    --muted: oklch(0.968 0.007 247.896);
    --accent: oklch(0.968 0.007 247.896);
    --border: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
    --input: oklch(0.929 0.013 255.508);
}

.dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --primary: oklch(0.929 0.013 255.508);
    --secondary: oklch(0.279 0.041 260.031);
    --muted: oklch(0.279 0.041 260.031);
    --accent: oklch(0.279 0.041 260.031);
    --border: oklch(1 0 0 / 10%);
    --ring: oklch(0.551 0.027 264.364);
    --input: oklch(1 0 0 / 15%);
}


/* استایلtext */


/* Scrollbar مخفی */

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


/* کلاس پایه برای دکمه‌ها و متن‌ها */

.btn-secondary {
    @apply bg-gray-900 text-orange-500 px-4 py-2 rounded border;
}

.btn-tertiary {
    @apply bg-gray-100 text-gray-700 px-4 py-3 rounded-lg border w-full min-h-[41px] shadow-none;
}

.btn-primary-gradient {
    background: linear-gradient(to right, #fe7107, #f37f30, #e69254);
}


/* کلاس flex استاندارد */

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.invert-colors {
    filter: invert(1);
}

.dark .invert-colors {
    filter: invert(0);
}


/* سایه‌ها */

.shadow-light100_dark100 {
    box-shadow: var(--shadow-light-100, none);
}

.dark .shadow-light100_dark100 {
    box-shadow: var(--shadow-dark-100, none);
}

.shadow-light-100_darknone {
    box-shadow: var(--shadow-light-100, none);
}

.dark .shadow-light-100_darknone {
    box-shadow: none;
}


/* پایه */

@layer base {
    * {
        border-color: var(--border);
        outline-color: var(--ring);
    }
    body {
        background-color: var(--background);
        color: var(--foreground);
    }
}